.VerticalBooks {
    position: relative;
    bottom: 931px;
    right: 240px;
    width: 60px;
    margin: auto;
    cursor: pointer;
    filter: brightness(90%);
    overflow: auto;
    z-index: 4;
}
.VerticalBooks:hover {
    filter: brightness(100%)
}