.box {
  position: relative;
  top: 100px;
  right: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0 10px;
  color: white;
}
.hide {
  display: none !important;
}
.Apps {
  width: 65%;
  height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  z-index: 101;
}
.AppThumbnails {
  width: 15%;
  display: inline-block;
  list-style: none;
  padding: 0;
}
.AppThumbnails li {
  background-color: #111319;
  height: 70px;
  width: 70px;
  margin: 10px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  /* REVELATION! */
  line-height: 70px;
  cursor: pointer;
}
.AppThumbnails li:hover {
  background-color: #444b61;
}
.AppViewer {
  width: 82%;
  display: inline-block;
  background-color: #444b61;
  border-radius: 15px;
}
