.formInline .formControl {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  outline: none;
}
.formControl {
  height: 50px;
  background-color: #444b61;
  border-color: white;
  padding: 0 10px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}
.formControl::placeholder {
  color: white;
  opacity: 0.4;
}
.Submit {
  height: 52px;
  width: 50px;
  background-color: #444b61;
  color: white;
  font-size: 15px;
  border-color: white;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
.Submit:hover {
  background-color: #5c6585;
}