.Searchbox {
  text-align: center;
}
.SearchHeader {
  max-width: 48rem;
  padding: 2rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px !important;
  background-color: #111319;
}
.Field {
  border-style: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}
.Legend {
  padding: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.Input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: none;
  border-width: 0; 
  float: left;
  _display: inline;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  padding: 1rem;
  line-height: 1;
  width: 100%;
  text-align: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Button {
  width: 100%;
  float: right;
  _display: inline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-style: none;
  border-width: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
  margin: auto;
}
.Button::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.Button:hover {
  background-color: #121212;
}
.Button:focus {
  background-color: #121212;
}
.Button,
.Button:hover,
.Button:focus {
  transition: background-color 0.15s ease-in-out;
}
.List {
  text-align: center;
}
.Error {
  color: red;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.clearFix {
  *zoom: 1;
}
.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (min-width: 10em) {
  .SearchHeader {
    border-radius: 0.25rem;
  }
  .Button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .Legend {
    font-size: 1.35rem !important;
  }
}
@media screen and (max-width: 30em) {
  .Button {
    width: 100% !important;
    border-radius: 0.25rem !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  .Input {
    width: 100% !important;
    border-radius: 0.25rem !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
@media screen and (min-width: 10em) and (max-width: 60em) {
  .Button {
    width: 25%;
  }
  .Input {
    width: 75%;
  }
}

@media screen and (min-width: 60em) {
  .Button {
    width: 20%;
  }
  .Input {
    width: 80%;
  }
  .Searchbox {
    padding: 2rem;
  }
}
