.box {
  position: relative;
  bottom: 1310px;
  right: 55px;
  z-index: 3;
  width: 120px;
  height: 122px;
  margin: auto;
}
.Clock {
  cursor: pointer;
  filter: brightness(90%);
  transition: transform 0.25s ease;
}
.Clock:hover {
  filter: brightness(100%);
}
.tag {
  position: relative;
  bottom: 185px;
  left: 10px;
}
.tag h2 {
    margin-top: 35px;
    margin-bottom: 15px;
}
