.Stopwatch {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.hide {
    display: none;
}
.stopwatchTimer {
  font-size: 60px;
  font-weight: 100;
  line-height: 120px;
  margin: auto;
  background-color: #111319;
  width: 50%;
}
.stopwatchLaps {
	overflow-y: auto !important;
	max-height: 60px;
	flex-wrap: wrap !important;
	padding: 20px !important;
	padding-bottom: 0 !important;
	width: 95%;
	margin-left: auto !important;
	margin-right: auto !important;
	justify-content: center;
  }
.stopwatchLap {
  width: 30%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 5px;

}
.stopwatchLap strong {
  color: #111319;
  font-weight: 400;
  padding-right: 5px;
}
.stopwatchLap strong::before {
   content: 'Lap ' 
}
.Btn {
    font-size: 20px; 
    display: inline-block; 
    width: 72px;
    height: 72px;
    margin: 24px;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    letter-spacing: 1px; 
    border: 0;
    border-radius: 50%;
    outline: none;
    background: white;
}
.Btn:hover {
  box-shadow: 0px 0px 20px #111319;
}
.Btn:active {
  box-shadow: none;
}

.startBtn {
   color: #4bd761;
}
.stopBtn  {
   color: #fd3d2a;
}