.Modal {
    position: fixed;
    z-index: 1000;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 0;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
/* .CloseDiv {
    width: 100%;
    display: block;
    text-align: right;
} */
.Close {
    float: right;
    margin: 10px;
    cursor: pointer;
    fill: #111319;
}

@media (min-width: 600px) {
    .Modal, .ModalNightMode {
        width: 400px;
        left: calc(50% - 200px);
    }
}
