@charset "utf-8";
	.NormalCharacterStyle1
{
	font-family : Helvetica Neue LT Com;
	font-size : 25px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Helvetica Neue;
	font-size : 25px;
	color : #6C6399;
	color : rgb(108, 99, 153);
}
.NormalCharacterStyle6
{
	font-family : Helvetica Neue LT Com;
	font-size : 25px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : Helvetica Neue;
	font-size : 34px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Helvetica Neue;
	font-size : 25px;
	color : #6C6399;
	color : rgb(108, 99, 153);
}
.NormalCharacterStyle2
{
	font-family : Helvetica Neue LT Com;
	font-size : 25px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Helvetica Neue;
	font-size : 34px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Helvetica Neue LT Com;
	font-size : 25px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Helvetica Neue;
	font-size : 77px;
	line-height : 103.07px;
	letter-spacing : 2.31px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Helvetica Neue;
	font-size : 77px;
	line-height : 103.07px;
	letter-spacing : 2.31px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : Anders;
	font-size : 124px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle10
{
	font-family : Faktos Shadow;
	font-size : 124px;
	color : #000000;
	color : rgb(0, 0, 0);
}
